#f1,#f2,#f3,#f4{
    border-radius: 20px;
}
#areainfo{
    width: auto;
    padding:10px;
    display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: space-around;
       margin: auto;
}
#linha{
    width: 100%;
    border-bottom: 1px solid black;
  }
  #contacts-area{
        display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: center;
       margin: auto;  
  }
  #btn-whats{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;   
  }
  #informations-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;    
  }


@media(max-width: 576px){
    #f1,#f2,#f3,#f4{
        width:100%;
    }
    .logobarra{
        margin-right:7.4rem;
    }
    #areainfo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: auto;
        width: auto;
 }
    }

@media (min-width:1024px) and (max-width:1025px){/*tablets*/
    #areainfo{
        display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: space-around;
       margin: auto;
       width: auto;
}
    }
